<!DOCTYPE html>
<html>
<head>
	<title>Add new job</title>
</head>
<body>
	<form method="post">
		<fieldset>
			<legend>Add new job</legend>
			<table>
				<tr>
					<td>Employer ID:</td>
					<td><input type="number" name="empId" value="<%= id %>" readonly></td>
				</tr>
				<tr>
					<td>Company Name:</td>
					<td><input type="text" name="compName"></td>
				</tr>
				<tr>
					<td>Job Title:</td>
					<td><input type="text" name="jobTitle"></td>
				</tr>
				<tr>
					<td>Job Location:</td>
					<td><input type="text" name="jobLoc"></td>
				</tr>
				<tr>
					<td>Salary:</td>
					<td><input type="number" name="salary"></td>
				</tr>
				<tr>
					<td></td>
					<td><input type="submit" name="submit" value="Submit"></td>
				</tr>
			</table>
		</fieldset>
	</form>
	<a href="/home">Back</a>
</body>
</html>